.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.title {
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.button {
    width: 100%;
    font-size: 18px;
    color: #fff;
    height: 70px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #000000;
    display: block;
}

.input {
    width: 100%;
    color: #000;
    font-size: 1.2rem;
    height: 55px;
    margin-bottom: 25px;
}

.mapComp {
        width:100%
}