.Button {
    width: 15%;
    font-size: 18px;
    color: #fff;
    height: 70px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #000000;
    display: block;
}

.Input {
    width: 80%;
    color: #000;
    font-size: 1.2rem;
    height: 55px;
    margin-bottom: 25px;
}

