.search-inputs {
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
    display: flex;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 30px;
    height: 40px;
    width: 600px;
}

.fa-magnifying-glass {
    color: black;
    margin-left: -50px;
    margin-top: 15px;
    font-size: 2rem;
}

.fa-xmark
{
    color: black;
    margin-left: -50px;
    margin-top: 15px;
    font-size: 2rem;
}

input:focus {
    outline: none;
}
.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    margin-top: -115px;
    width: 550px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 350px;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}
a {
    text-decoration: none;
}

#clearBtn {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .dataResult {
        margin-left: 20px;
    }
}
