.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.header{
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.list-group-title{
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    list-style-type: none;
    color: rgb(0, 0, 0);
}

.list-group-item{
    margin-bottom: 10px;
    font-weight: 600;
    list-style-type: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-transform: none;
}

.button{
    width: 20%;
    font-size: 20px;
    color: #fff;
    height: 70px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #000000;
    display: block;
}